@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: Maroon;
    /* #800000 */
    --secondary-color: rgb(0, 0, 0);
    /* #B22222 */
    --background-color: LightSalmon;
    /* #FFA07A */
    --container-color: rgb(201, 191, 204);
    /* #FFDAB9 */
    --emphasize-color: rgb(0, 0, 0);
    /* #DAA520 */
}

body {
    background-color: var(--background-color) !important;
    font-family: Verdana, Tahoma, sans-serif !important;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: var(--container-color);
    height: 60px !important;
}

header {
    height: 60 px !important;
}

main {
    height: calc(100vh -100px) !important;
}

footer {
    background-color: var(--container-color);
    color: var(--primary-color);
    height: 25px !important;
    font-weight: bold;
    margin: 0;
    bottom: 0;
}

.rodape {
    position: fixed;
    text-align: center;
    width: 100%;
}

.main-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20vh;
}

.logo-container {
    width: 200px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.text-container h1, p {
    color: var(--secondary-color);
}

.text-container h1 {
    font-size: 2.5em !important;
    font-weight: bold !important;
}

.text-container p {
    font-size: 1.5em !important;
    text-align: left;
}

.vertical-center {
    vertical-align: middle;
}

@media (max-width: 912px) {
    .main-container {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10vh;
    }

    .text-container {
        margin-top: 30px;
        margin-left: 0px;
    }

    .text-container p {
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .text-container h1 {
        font-size: 1.5em !important;
        margin-bottom: 20px;
    }

    .text-container p {
        font-size: 1.3em !important;
    }
}

.font-kid {
    font-family: 'Comic Neue', cursive !important;
    font-size: 3em !important;
    color: var(--primary-color) !important;
}

.btn-kid {
    background-color: var(--container-color) !important;
    border: 0px solid var(--primary-color);
}

.btn-kid:hover {
    background-color: var(--emphasize-color);
    color: black;
}

.main-color {
    color: var(--primary-color);
}

#active {
    color: var(--emphasize-color) !important;
}